@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Establece la altura del contenedor al 100% del viewport height */
    box-shadow: 0 0 1rem var(--main-color);
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: auto;
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}


:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #dfcccc;
    --main-color: #0ef;
    }

 html {
    font-size: 62.5%;
    overflow-x: hidden;
 }

 body {
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 0 0 1rem var(--main-color);
 }
 section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    box-shadow: 0 0 1rem var(--main-color);
 }

 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
  }
  

  .logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
  }

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
  }
  
 

  .navbar.active {
    display: block;
    background: rgba(31, 36, 45, 0.8);
  }

  

  .navbar a:hover,
  .navbar a.active {
    color: var(--main-color); 
  } 

  #menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    box-shadow: 0 0 1rem var(--main-color);
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .home {
    display:flex;
    justify-content: center;
    align-items:center;
    box-shadow: 0 0 1rem var(--main-color);
  }

  .home-img img{
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--main-color);
    animation: animate 10s linear infinite;
    background: linear-gradient(to right, #0f0c2e, #302b63, #3535b3);
    z-index: -1;
    max-width: 100%; /* Hace que la imagen sea responsive */
    height: auto; /* Para mantener la proporción de aspecto */
    margin-top: -2rem;
    margin-left: -2rem;
    overflow: hidden;
}

  .home-img {
    width:35vw;
    animation: floatImage 4s ease-in-out infinite;
    margin-left: 4rem;
  }
  

  @keyframes floatImage {
    0% { 
        transform: translateY(0);
    }
    50% { 
        transform: translateY(-2.4rem);
    }
    100% { 
        transform: translateY(0);
    }
  }

  .home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
  }

  .home-content h3:nth-of-type(2) {
     margin-bottom: 2rem;
  }

  span {
    color: var(--main-color);

  }

  .home-content h1 {
    font-size:5.6rem;
    font-weight: 700;
    line-height: 1.3;
  }

  .home-content p {
    font-size: 1.6rem;
  }
  .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
  }
  .social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover {
    box-shadow: none;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: none;
}
.about-img img {
    width: 35vw;
    border-radius: 250px;
    margin-left: 3rem;
    box-shadow: 0 0 1rem var(--main-color);
}
@keyframes neon {
    from {
        box-shadow: #0ef 0 0 0;
    }
    to {
        box-shadow: #0ef 0 0 1rem;
    }
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* SECCION S K I L L S */
.skills{
    background: none;
    color: var(--text-color);
    box-shadow: 0 0 1rem var(--main-color);
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #045543;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 5s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 5s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 89%;}
}

.skills .skill .selenium{
    width: 0%;
    animation: 5s selenium forwards;
}
@keyframes selenium {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .appium{
    width: 0%;
    animation: 5s appium forwards;
}
@keyframes appium {
    0%{width: 0%;}
    100%{width: 81%;}
}

.skills .skill .sql{
    width: 0%;
    animation: 5s sql forwards;
}
@keyframes sql {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .Communication{
    width: 0%;
    animation: 5s Communication forwards;
}
@keyframes Communication {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .Teamwork{
    width: 0%;
    animation: 5s Teamwork forwards;
}
@keyframes Teamwork {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .Creativity{
    width: 0%;
    animation: 5s Creativity forwards;
}
@keyframes Creativity {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .dedication{
    width: 0%;
    animation: 5s dedication forwards;
}
@keyframes dedication {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 5s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 94%;}
}


.services h2 {
    margin-bottom: 5rem;
}

.services-container .services-box {
    flex: 1 1 150px;
    background: var(--second-bg-color);
    opacity: 0.8;
    padding: 0 1rem; 
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    margin: 0 2%; /* Espacio entre los recuadros en pantallas grandes */
    flex: 1 1 200px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.services-container .services-box:hover {
    border-color: var(--main-color); /* Cambia el color del borde */
    box-shadow: 0 0 2rem var(--main-color); /* Aumenta el efecto de iluminación */
}

.services-container {
    display: flex;
    flex-wrap: wrap; /* Asegúrate de que los elementos se envuelvan si no caben en una sola línea */
    gap: 1rem; /* Añade espacio entre los recuadros */
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
} 
.services-box h3 {
    font-size: 2.6rem;
}
.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.Project {
    background: none;
}
.Project h2 {
    margin-bottom: 4rem;
}
.Project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.Project-container .Project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.Project-box img {
    width: 100%;
    transition: .5s ease;
}
.Project-box:hover img {
    transform: scale(1.1);


}

.Project-box .Project-layer {
   position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.Project-box:hover .Project-layer {
    transform: translateY(0);
}

.Project-layer h4 {
    font-size: 3rem;
}

.Project-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.Project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.Project-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(10, 10, 10);
    background: var(--text-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input {
    width: 49%;
}
.contact form textarea {
    resize: none;
}
.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    opacity: 0.8;
    box-shadow: 0 0 1rem var(--main-color);
}
.footer.text p {
    font-size: 1.6rem;
}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);

}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/*BREAKPOINTS*/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}
@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }
    .portfolio {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}
@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem 9%;
        background: var(--bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000; /* Aumenta el z-index */
        box-shadow: 0 0 1rem var(--main-color);
    }
    
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    
    
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
      font-size: 2.6rem;   
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about img {
        width: 70vw;
        margin-top: 4rem ;
    }
    .services h2 {
        margin-bottom: 3rem;
    }

    .Project h2 {
        margin-bottom: 3rem;
    }
    .Project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 617px) {
    .Project-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}
@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }
    .about-img img {
        width: 90vw;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
@media (max-width: 768px) {
    .home-img img {
        margin-top: 0;
    }

  
}


@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
    }
    .services-container .services-box {
        flex-basis: 100%;
        margin-bottom: 2rem;
    }
}



.skill {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.skill.visible {
    opacity: 1;
    transform: translateY(0);
}
 
 /* Ajustar la imagen para dispositivos móviles */
@media (max-width: 768px) {
    .home-img img {
        max-width: 120%; /* Incrementa el tamaño de la imagen en móviles */
    }
}

@media (max-width: 480px) {
    .home-img img {
        max-width: 140%; /* Incrementa aún más el tamaño en pantallas más pequeñas */
    }
}